div.a {
 background-color: lightgrey;
 width:200px;
 height:100px;
}

div.b{
background-image: linear-gradient(red,blue,orange);
width: 100px;
height: 100px;
margin-top: 50px;
}
 
div.c {
 border-radius: 150%;
 background-color: orange;
 width:150px;
 height:150px;
 margin-top: 50px;
 }

div.d {  
width: 0;
height: 0;
border-left: 100px solid transparent;
border-right: 100px solid transparent;
 border-bottom:100px solid red;
 margin-top: 50px;
}
div.e{
border-bottom:80px solid #555;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
height: 0;
width: 120px;
margin-top: 50px;
 }
div.f{
border-radius: 50%;
border: 5px solid lightgreen;
width: 130px;
height: 130px;
margin-top: 50px;
}
