div.a {
 background-color: lightgrey;
 width:200px;
 height:100px
}

 
 div.b{
background-image: linear-gradient(red,blue,orange);
 width: 100px;
 height: 100px;
 margin : 50px;
 }
 div.c {
 border-radius: 150%;
 background-color: orange;
width:150px;
 height:150px;
 margin:50px;
}
 div.d{ 
height: 50px;
width: 50px;
background-color: blue;
border-radius: 50%;
}
div.e{
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    border-bottom: 50px solid red;
    margin-top: 50;
}

   div.f{
    border-bottom:80px solid #555;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
    width: 120px;
    margin-top: 50;
}
